[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
MASTER_FallenDog
Bone_Root_FD
Bone_Spine_01_FD
Bone_Spine_02_FD
Bone_Wing_01_L_FD
Bone_Wing_01_R_FD
Bone_Clav_L_FD
Bone_Arm_Hi_L_FD
Bone_Arm_Roll_L_FD
Bone_Arm_Lo_L_FD
Bone_Arm_Twist_L_FD
Bone_Hand_L_FD
Bone_Fgr_Thumb_01_L_FD
Bone_Fgr_Thumb_02_L_FD
Bone_Fgr_Point_01_L_FD
Bone_Fgr_Point_02_L_FD
Bone_Fgr_Mid_01_L_FD
Bone_Fgr_Mid_02_L_FD
Bone_Fgr_Pinky_01_L_FD
Bone_Fgr_Pinky_02_L_FD
Bone_Clav_R_FD
Bone_Arm_Hi_R_FD
Bone_Arm_Lo_R_FD
Bone_Arm_Twist_R_FD
Bone_Hand_R_FD
Bone_Fgr_Thumb_01_R_FD
Bone_Fgr_Thumb_02_R_FD
Bone_Fgr_Point_01_R_FD
Bone_Fgr_Point_02_R_FD
Bone_Fgr_Mid_01_R_FD
Bone_Fgr_Mid_02_R_FD
Bone_Fgr_Pinky_01_R_FD
Bone_Fgr_Pinky_02_R_FD
Bone_Arm_Roll_R_FD
Bone_Head_FD
Bone_Face_FD
Bone_Jaw_FD
Bone_Tongue_01_FD
Bone_Tongue_02_FD
Bone_Pelvis_FD
Bone_Leg_Hi_L_FD
Bone_Leg_Roll_L_FD
Bone_Leg_Lo_L_FD
Bone_Foot_L_FD
Bone_Ball_L_FD
Bone_Toe_01_L_FD
Bone_Toe_02_L_FD
Bone_Toe_03_L_FD
Bone_Leg_Hi_R_FD
Bone_Leg_Roll_R_FD
Bone_Leg_Lo_R_FD
Bone_Foot_R_FD
Bone_Ball_R_FD
Bone_Toe_01_R_FD
Bone_Toe_02_R_FD
Bone_Toe_03_R_FD
Bone_Tail_01_FD
Bone_Tail_02_FD
Bone_Tail_03_FD
Bone_Tail_04_FD
Bone_Tail_05_FD
Bone_Interactive

[RemoveTracks]
FallenDog_Walk_B.61=all
