[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
MASTER_FallenDog
Bone_Root_FD
Bone_Spine_01_FD
Bone_Spine_02_FD
Bone_Wing_01_L_FD
Bone_Wing_01_R_FD
Bone_Clav_L_FD
Bone_Arm_Hi_L_FD
Bone_Arm_Roll_L_FD
Bone_Arm_Lo_L_FD
Bone_Arm_Twist_L_FD
Bone_Hand_L_FD
Bone_Fgr_Thumb_01_L_FD
Bone_Fgr_Thumb_02_L_FD
Bone_Fgr_Point_01_L_FD
Bone_Fgr_Point_02_L_FD
Bone_Fgr_Mid_01_L_FD
Bone_Fgr_Mid_02_L_FD
Bone_Fgr_Pinky_01_L_FD
Bone_Fgr_Pinky_02_L_FD
Bone_Clav_R_FD
Bone_Arm_Hi_R_FD
Bone_Arm_Lo_R_FD
Bone_Arm_Twist_R_FD
Bone_Hand_R_FD
Bone_Fgr_Thumb_01_R_FD
Bone_Fgr_Thumb_02_R_FD
Bone_Fgr_Point_01_R_FD
Bone_Fgr_Point_02_R_FD
Bone_Fgr_Mid_01_R_FD
Bone_Fgr_Mid_02_R_FD
Bone_Fgr_Pinky_01_R_FD
Bone_Fgr_Pinky_02_R_FD
Bone_Arm_Roll_R_FD
Bone_Head_FD
Bone_Face_FD
Bone_Jaw_FD
Bone_Tongue_01_FD
Bone_Tongue_02_FD
Bone_Pelvis_FD
Bone_Leg_Hi_L_FD
Bone_Leg_Roll_L_FD
Bone_Leg_Lo_L_FD
Bone_Foot_L_FD
Bone_Ball_L_FD
Bone_Toe_01_L_FD
Bone_Toe_02_L_FD
Bone_Toe_03_L_FD
Bone_Leg_Hi_R_FD
Bone_Leg_Roll_R_FD
Bone_Leg_Lo_R_FD
Bone_Foot_R_FD
Bone_Ball_R_FD
Bone_Toe_01_R_FD
Bone_Toe_02_R_FD
Bone_Toe_03_R_FD
Bone_Tail_01_FD
Bone_Tail_02_FD
Bone_Tail_03_FD
Bone_Tail_04_FD
Bone_Tail_05_FD
Bone_Interactive

[RemoveTracks]
FallenDog_AimPose_LU.1=all
FallenDog_AimPose_LU.12=all
FallenDog_AimPose_LU.13=all
FallenDog_AimPose_LU.14=all
FallenDog_AimPose_LU.15=all
FallenDog_AimPose_LU.16=all
FallenDog_AimPose_LU.17=all
FallenDog_AimPose_LU.18=all
FallenDog_AimPose_LU.19=all
FallenDog_AimPose_LU.25=all
FallenDog_AimPose_LU.26=all
FallenDog_AimPose_LU.27=all
FallenDog_AimPose_LU.28=all
FallenDog_AimPose_LU.29=all
FallenDog_AimPose_LU.30=all
FallenDog_AimPose_LU.31=all
FallenDog_AimPose_LU.32=all
FallenDog_AimPose_LU.39=all
FallenDog_AimPose_LU.40=all
FallenDog_AimPose_LU.41=all
FallenDog_AimPose_LU.42=all
FallenDog_AimPose_LU.43=all
FallenDog_AimPose_LU.44=all
FallenDog_AimPose_LU.45=all
FallenDog_AimPose_LU.46=all
FallenDog_AimPose_LU.47=all
FallenDog_AimPose_LU.48=all
FallenDog_AimPose_LU.49=all
FallenDog_AimPose_LU.50=all
FallenDog_AimPose_LU.51=all
FallenDog_AimPose_LU.52=all
FallenDog_AimPose_LU.53=all
FallenDog_AimPose_LU.54=all
FallenDog_AimPose_LU.55=all
FallenDog_AimPose_LU.56=all
FallenDog_AimPose_LU.57=all
FallenDog_AimPose_LU.58=all
FallenDog_AimPose_LU.59=all
FallenDog_AimPose_LU.60=all
FallenDog_AimPose_LU.61=all
