[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
_Master
Root
Bone_TorsoShoulders
Bone_NeckLower
Bone_NeckUpper
Bone_Head
Bone_LtEar
Bone_LtEar01
Bone_Nostrils
Bone_Lip_Upper
Bone_Eye_Upper
Bone_Eye_Lower
Bone_Jaw
Bone_Lip_Lower
_Head_Constraint
Bone_LtFrontLegUpper
Bone_LtFrontLegMid
Bone_LtFrontLegLower
Bone_LtFrontLegAnkle
Bone_LtFrontLegHoof
Bone_Armor_Chest_Cnstrn_Lt
Bone_RtFrontLegUpper
Bone_RtFrontLegMid
Bone_RtFrontLegLower
Bone_RtFrontLegAnkle
Bone_RtFrontLegHoof
Bone_Armor_Chest_Cnstrn_Rt
Bone_Stirrup_RtChain
Bone_Stirrup_Rt
war_leg_r_align
Bone_Stirrup_LtChain
Bone_Stirrup_Lt
war_leg_l_align
_IK_ChestStrapLt
Bone_Armor_Chest_Parent
Bone_Armor_Chest
Bone_Armor_Chest_StrapLt01
Bone_Armor_Chest_StrapLt02
Bone_Armor_Chest_StrapLtNub
Bone_Armor_Chest_StrapRt01
Bone_Armor_Chest_StrapRt02
Bone_Armor_Chest_StrapRtNub
_IK_ChestStrapRt
war_hand_l_align
Bone_TorsoMid
Bone_TorsoHips
Bone_RtRearLegUpper
Bone_RtRearLegMid
Bone_RtRearLegLower
Bone_RtRearLegAnkle
Bone_RtRearLegHoof
Bone_LtRearLegUpper
Bone_LtRearLegMid
Bone_LtRearLegLower
Bone_LtRearLegAnkle
Bone_LtRearLegHoof
Tail01
Tail02
Tail03
Tail04
Tail05
Tail06
war_body_align
_Head_Parent
_HeadControl
_Ankle_LtFront
_IK_Ankle_LtFront
_Ankle_RtFront
_IK_Ankle_RtFront
_Foot_RtFront
_IK_Foot_RtFront
_Foot_LtFront
_IK_Foot_LtFront
_LtFrontAim
_RtFrontAim
_LtFrontAim_Ankle
_RtFrontAim_Ankle
_Ankle_LtRear
IK-Chain01
_Ankle_RtRear
IK-Chain03
_LtRearAim_Ankle
_RtRearAim_Ankle
_RtRearAim
_LtRearAim
_Foot_RtRear
IK-Chain04
_Foot_LtRear
IK-Chain02
Bone_War_Root
Bone_War_Pelvis
Bone_War_Thigh_L
Bone_War_Calf_L
Bone_War_Ankle_L
Bone_War_Toes_L
_rig_Calf_target01_L
Bone_War_ThighRoll_L
_rig_ThighRoll_IKparent_L
_IKHI_War_ThighRoll_L
_rig_ThighRoll_L_lookAt
_rig_Calf_target02_L
Bone_War_Thigh_R
Bone_War_Calf_R
Bone_War_Ankle_R
Bone_War_Toes_R
_rig_Calf_target01_R
Bone_War_ThighRoll_R
_rig_ThighRoll_IKparent_R
_IKHI_War_ThighRoll_R
_rig_ThighRoll_R_lookAt
_rig_Calf_target02_R
null_Spine
Bone_War_Spine1
Bone_War_Spine2
Bone_War_Neck
Bone_War_Head
Bone_War_Face_Jaw
Bone_War_Face_LowerLip1_L
Bone_War_Face_LowerLip2_L
Bone_War_Face_LowerLip1_R
Bone_War_Face_LowerLip2_R
Bone_War_Face_BrowMid_L
Bone_War_Face_BrowInner_L
Bone_War_Face_ForeHead
Bone_War_Face_EyeLidLow_L
Bone_War_Face_EyeLid_L
Bone_War_Face_Nostril_L
Bone_War_Face_UpperLip2_L
Bone_War_Face_UpperLip1_L
Bone_War_Face_EyeBall_L
Bone_War_Face_Lip_End_L
Bone_War_Face_Cheek_L
Bone_War_Face_BrowMid_R
Bone_War_Face_BrowInner_R
Bone_War_Face_EyeLidLow_R
Bone_War_Face_EyeLid_R
Bone_War_Face_Nostril_R
Bone_War_Face_UpperLip2_R
Bone_War_Face_UpperLip1_R
Bone_War_Face_EyeBall_R
Bone_War_Face_Lip_End_R
Bone_War_Face_Cheek_R
_rig_Face_Master
_rig_face_eyeConst_L
_rig_face_eyeConst_R
_rig_face_eye_upNode_R
_rig_face_eye_upNode_L
_rig_eyeTarget_conTarget
_rig_Jaw_temp_parent
Bone_War_Face_BrowOuter_L
Bone_War_Face_BrowOuter_R
Bone_War_Clavicle_L
Bone_War_UpperArm_L
Bone_War_ForeArm_L
Bone_War_Hand_L
Bone_War_Fing_Ring1_L
Bone_War_Fing_Ring2_L
Bone_War_Fing_Ring3_L
Bone_War_Fing_Pinky1_L
Bone_War_Fing_Pinky2_L
Bone_War_Fing_Pinky3_L
Bone_War_Fing_Index1_L
Bone_War_Fing_Index2_L
Bone_War_Fing_Index3_L
Bone_War_Fing_Middle1_L
Bone_War_Fing_Middle2_L
Bone_War_Fing_Middle3_L
Bone_War_Fing_Thumb1_L
Bone_War_Fing_Thumb2_L
Bone_War_Fing_Thumb3_L
_rig_fingerMaster01_L
_rig_fing_Thumb_lookAtCon_L
_rig_fing_Thumb_zero_L
_rig_fingerMaster02_L
_rig_fing_Index_lookAtCon_L
_rig_fing_Index_zero_L
_rig_fingerMaster03_L
_rig_fing_Middle_lookAtCon_L
_rig_fing_Middle_zero_L
_rig_fingerMaster04_L
_rig_fing_Ring_lookAtCon_L
_rig_fing_Ring_zero_L
_rig_fingerMaster05_L
_rig_fing_Pinky_lookAtCon_L
_rig_fing_Pinky_zero_L
Bone_War_ForeArmRoll_L
_rig_ForearmTwist_L
_IKHI_War_ForeArmRoll_L
_rig_ForeArmRoll_L_lookAt
Bone_War_UpperArmRoll_L
_rig_shoulderRoll_aim_L
_IKHI_War_UpperArmRoll_L
_rig_L_target02
Bone_War_L_ShoulderPad
_rig_L_target01
Bone_War_Clavicle_R
Bone_War_UpperArm_R
Bone_War_ForeArm_R
Bone_War_ForeArmRoll_R
Bone_War_Hand_R
Bone_War_Fing_Pinky1_R
Bone_War_Fing_Pinky2_R
Bone_War_Fing_Pinky3_R
Bone_War_Fing_Ring1_R
Bone_War_Fing_Ring2_R
Bone_War_Fing_Ring3_R
Bone_War_Fing_Middle1_R
Bone_War_Fing_Middle2_R
Bone_War_Fing_Middle3_R
Bone_War_Fing_Thumb1_R
Bone_War_Fing_Thumb2_R
Bone_War_Fing_Thumb3_R
Bone_War_Fing_Index1_R
Bone_War_Fing_Index2_R
Bone_War_Fing_Index3_R
_rig_fingerMaster01_R
_rig_fing_Thumb_lookAtCon_R
_rig_fing_Thumb_zero_R
_rig_fingerMaster02_R
_rig_fing_Index_lookAtCon_R
_rig_fing_Index_zero_R
_rig_fingerMaster03_R
_rig_fing_Middle_lookAtCon_R
_rig_fing_Middle_zero_R
_rig_fingerMaster04_R
_rig_fing_Ring_lookAtCon_R
_rig_fing_Ring_zero_R
_rig_fingerMaster05_R
_rig_fing_Pinky_lookAtCon_R
_rig_fing_Pinky_zero_R
Bone_War_Weapon_Sword
_rig_ForearmTwist_R
_IKHI_War_ForeArmRoll_R
_rig_ForeArmRoll_R_lookAt
Bone_War_UpperArmRoll_R
_rig_shoulderRoll_aim_R
_IKHI_War_UpperArmRoll_R
_rig_R_target02
Bone_War_R_ShoulderPad
_rig_R_target01
Bone_War_ShoulderCloth_C_1
Bone_War_ShoulderCloth_C_2
Bone_War_ShoulderCloth_C_3
Bone_War_ShoulderCloth_B_1
Bone_War_ShoulderCloth_B_2
Bone_War_ShoulderCloth_A_1
Bone_War_ShoulderCloth_A_2
Bone_War_Hair_Base_R
_rig_Local_Hair_1_R
Bone_War_Hair_1_R
Bone_War_Hair_2_R
Bone_War_Hair_B_4_R
Bone_War_Hair_C_4_R
Bone_War_Hair_A_4_R
Bone_War_Hair_Base_L
_rig_Local_Hair_1_L
Bone_War_Hair_1_L
Bone_War_Hair_2_L
Bone_War_Hair_C_4_L
Bone_War_Hair_A_4_L
Bone_War_Hair_B_4_L
Bone_War_ShoulderCloth_D_1
Bone_War_ShoulderCloth_D_2
Bone_War_ShoulderCloth_D_3
Bone_War_ShoulderCloth_D_4
Bone_War_ShoulderCloth_E_1
Bone_War_ShoulderCloth_E_2
Bone_War_ShoulderCloth_E_3
Bone_War_Cape_Cloth_1_R
Bone_War_Cape_Cloth_2_R
Bone_War_Cape_Cloth_3_R
Bone_War_Cape_Cloth_4_R
Bone_War_Cape_Cloth_1_M
Bone_War_Cape_Cloth_2_M
Bone_War_Cape_Cloth_3_M
Bone_War_Cape_Cloth_4_M
Bone_War_Cape_Cloth_5_M
Bone_War_Cape_Cloth_6_M
Bone_War_Cape_Cloth_1_L
Bone_War_Cape_Cloth_2_L
Bone_War_Cape_Cloth_3_L
Bone_War_Cape_Cloth_4_L
_rig_Local_Cape_Cloth_1_L
_rig_Local_Cape_Cloth_1_R
_rig_Local_Cape_Cloth_1_M
_rig_WaistCloth_target01_L
_rig_WaistCloth_target02_L
_rig_WaistCloth_cons_L
Bone_War_WaistCloth_L
Bone_War_WaistCloth_R
Bone_War_Weapon_War_Weapon_Left
Bone_War_Weapon_Gear
Bone_GroundPlane
Bone_R_Hair_Rigid_C_01
Bone_R_Hair_Rigid_B_01
Bone_R_Hair_Rigid_B_02
Bone_R_Hair_Rigid_A_01
Bone_R_Hair_Rigid_A_02

[RemoveTracks]
War_Horse_Vorpal_Aim_CC.2=all
War_Horse_Vorpal_Aim_CC.3=all
War_Horse_Vorpal_Aim_CC.4=all
War_Horse_Vorpal_Aim_CC.5=all
War_Horse_Vorpal_Aim_CC.6=all
War_Horse_Vorpal_Aim_CC.7=all
War_Horse_Vorpal_Aim_CC.8=all
War_Horse_Vorpal_Aim_CC.9=all
War_Horse_Vorpal_Aim_CC.10=all
War_Horse_Vorpal_Aim_CC.11=all
War_Horse_Vorpal_Aim_CC.12=all
War_Horse_Vorpal_Aim_CC.13=all
War_Horse_Vorpal_Aim_CC.14=all
War_Horse_Vorpal_Aim_CC.15=all
War_Horse_Vorpal_Aim_CC.18=all
War_Horse_Vorpal_Aim_CC.19=all
War_Horse_Vorpal_Aim_CC.20=all
War_Horse_Vorpal_Aim_CC.21=all
War_Horse_Vorpal_Aim_CC.22=all
War_Horse_Vorpal_Aim_CC.23=all
War_Horse_Vorpal_Aim_CC.24=all
War_Horse_Vorpal_Aim_CC.25=all
War_Horse_Vorpal_Aim_CC.26=all
War_Horse_Vorpal_Aim_CC.27=all
War_Horse_Vorpal_Aim_CC.28=all
War_Horse_Vorpal_Aim_CC.29=all
War_Horse_Vorpal_Aim_CC.30=all
War_Horse_Vorpal_Aim_CC.31=all
War_Horse_Vorpal_Aim_CC.32=all
War_Horse_Vorpal_Aim_CC.33=all
War_Horse_Vorpal_Aim_CC.34=all
War_Horse_Vorpal_Aim_CC.35=all
War_Horse_Vorpal_Aim_CC.42=all
War_Horse_Vorpal_Aim_CC.43=all
War_Horse_Vorpal_Aim_CC.44=all
War_Horse_Vorpal_Aim_CC.45=all
War_Horse_Vorpal_Aim_CC.46=all
War_Horse_Vorpal_Aim_CC.49=all
War_Horse_Vorpal_Aim_CC.50=all
War_Horse_Vorpal_Aim_CC.51=all
War_Horse_Vorpal_Aim_CC.55=all
War_Horse_Vorpal_Aim_CC.56=all
War_Horse_Vorpal_Aim_CC.57=all
War_Horse_Vorpal_Aim_CC.58=all
War_Horse_Vorpal_Aim_CC.59=all
War_Horse_Vorpal_Aim_CC.60=all
War_Horse_Vorpal_Aim_CC.62=all
War_Horse_Vorpal_Aim_CC.64=all
War_Horse_Vorpal_Aim_CC.65=all
War_Horse_Vorpal_Aim_CC.66=all
War_Horse_Vorpal_Aim_CC.67=all
War_Horse_Vorpal_Aim_CC.68=all
War_Horse_Vorpal_Aim_CC.69=all
War_Horse_Vorpal_Aim_CC.70=all
War_Horse_Vorpal_Aim_CC.71=all
War_Horse_Vorpal_Aim_CC.72=all
War_Horse_Vorpal_Aim_CC.73=all
War_Horse_Vorpal_Aim_CC.74=all
War_Horse_Vorpal_Aim_CC.77=all
War_Horse_Vorpal_Aim_CC.78=all
War_Horse_Vorpal_Aim_CC.79=all
War_Horse_Vorpal_Aim_CC.80=all
War_Horse_Vorpal_Aim_CC.81=all
War_Horse_Vorpal_Aim_CC.82=all
War_Horse_Vorpal_Aim_CC.85=all
War_Horse_Vorpal_Aim_CC.86=all
War_Horse_Vorpal_Aim_CC.87=all
War_Horse_Vorpal_Aim_CC.88=all
War_Horse_Vorpal_Aim_CC.89=all
War_Horse_Vorpal_Aim_CC.90=all
War_Horse_Vorpal_Aim_CC.91=all
War_Horse_Vorpal_Aim_CC.92=all
War_Horse_Vorpal_Aim_CC.93=all
War_Horse_Vorpal_Aim_CC.94=all
War_Horse_Vorpal_Aim_CC.95=all
War_Horse_Vorpal_Aim_CC.96=all
War_Horse_Vorpal_Aim_CC.97=all
War_Horse_Vorpal_Aim_CC.98=all
War_Horse_Vorpal_Aim_CC.99=all
War_Horse_Vorpal_Aim_CC.100=all
War_Horse_Vorpal_Aim_CC.101=all
War_Horse_Vorpal_Aim_CC.102=all
War_Horse_Vorpal_Aim_CC.103=all
War_Horse_Vorpal_Aim_CC.104=all
War_Horse_Vorpal_Aim_CC.105=all
War_Horse_Vorpal_Aim_CC.106=all
War_Horse_Vorpal_Aim_CC.107=all
War_Horse_Vorpal_Aim_CC.108=all
War_Horse_Vorpal_Aim_CC.109=all
War_Horse_Vorpal_Aim_CC.110=all
War_Horse_Vorpal_Aim_CC.111=all
War_Horse_Vorpal_Aim_CC.112=all
War_Horse_Vorpal_Aim_CC.113=all
War_Horse_Vorpal_Aim_CC.114=all
War_Horse_Vorpal_Aim_CC.115=all
War_Horse_Vorpal_Aim_CC.116=all
War_Horse_Vorpal_Aim_CC.117=all
War_Horse_Vorpal_Aim_CC.118=all
War_Horse_Vorpal_Aim_CC.119=all
War_Horse_Vorpal_Aim_CC.120=all
War_Horse_Vorpal_Aim_CC.121=all
War_Horse_Vorpal_Aim_CC.122=all
War_Horse_Vorpal_Aim_CC.123=all
War_Horse_Vorpal_Aim_CC.124=all
War_Horse_Vorpal_Aim_CC.125=all
War_Horse_Vorpal_Aim_CC.126=all
War_Horse_Vorpal_Aim_CC.127=all
War_Horse_Vorpal_Aim_CC.128=all
War_Horse_Vorpal_Aim_CC.129=all
War_Horse_Vorpal_Aim_CC.130=all
War_Horse_Vorpal_Aim_CC.131=all
War_Horse_Vorpal_Aim_CC.132=all
War_Horse_Vorpal_Aim_CC.133=all
War_Horse_Vorpal_Aim_CC.134=all
War_Horse_Vorpal_Aim_CC.135=all
War_Horse_Vorpal_Aim_CC.136=all
War_Horse_Vorpal_Aim_CC.137=all
War_Horse_Vorpal_Aim_CC.138=all
War_Horse_Vorpal_Aim_CC.139=all
War_Horse_Vorpal_Aim_CC.140=all
War_Horse_Vorpal_Aim_CC.141=all
War_Horse_Vorpal_Aim_CC.142=all
War_Horse_Vorpal_Aim_CC.143=all
War_Horse_Vorpal_Aim_CC.144=all
War_Horse_Vorpal_Aim_CC.145=all
War_Horse_Vorpal_Aim_CC.146=all
War_Horse_Vorpal_Aim_CC.147=all
War_Horse_Vorpal_Aim_CC.148=all
War_Horse_Vorpal_Aim_CC.149=all
War_Horse_Vorpal_Aim_CC.150=all
War_Horse_Vorpal_Aim_CC.151=all
War_Horse_Vorpal_Aim_CC.152=all
War_Horse_Vorpal_Aim_CC.153=all
War_Horse_Vorpal_Aim_CC.154=all
War_Horse_Vorpal_Aim_CC.155=all
War_Horse_Vorpal_Aim_CC.156=all
War_Horse_Vorpal_Aim_CC.157=all
War_Horse_Vorpal_Aim_CC.158=all
War_Horse_Vorpal_Aim_CC.159=all
War_Horse_Vorpal_Aim_CC.160=all
War_Horse_Vorpal_Aim_CC.161=all
War_Horse_Vorpal_Aim_CC.162=all
War_Horse_Vorpal_Aim_CC.163=all
War_Horse_Vorpal_Aim_CC.164=all
War_Horse_Vorpal_Aim_CC.165=all
War_Horse_Vorpal_Aim_CC.166=all
War_Horse_Vorpal_Aim_CC.167=all
War_Horse_Vorpal_Aim_CC.168=all
War_Horse_Vorpal_Aim_CC.169=all
War_Horse_Vorpal_Aim_CC.170=all
War_Horse_Vorpal_Aim_CC.171=all
War_Horse_Vorpal_Aim_CC.172=all
War_Horse_Vorpal_Aim_CC.173=all
War_Horse_Vorpal_Aim_CC.174=all
War_Horse_Vorpal_Aim_CC.175=all
War_Horse_Vorpal_Aim_CC.176=all
War_Horse_Vorpal_Aim_CC.177=all
War_Horse_Vorpal_Aim_CC.178=all
War_Horse_Vorpal_Aim_CC.179=all
War_Horse_Vorpal_Aim_CC.180=all
War_Horse_Vorpal_Aim_CC.181=all
War_Horse_Vorpal_Aim_CC.182=all
War_Horse_Vorpal_Aim_CC.183=all
War_Horse_Vorpal_Aim_CC.184=all
War_Horse_Vorpal_Aim_CC.185=all
War_Horse_Vorpal_Aim_CC.186=all
War_Horse_Vorpal_Aim_CC.187=all
War_Horse_Vorpal_Aim_CC.188=all
War_Horse_Vorpal_Aim_CC.189=all
War_Horse_Vorpal_Aim_CC.190=all
War_Horse_Vorpal_Aim_CC.191=all
War_Horse_Vorpal_Aim_CC.192=all
War_Horse_Vorpal_Aim_CC.193=all
War_Horse_Vorpal_Aim_CC.194=all
War_Horse_Vorpal_Aim_CC.196=all
War_Horse_Vorpal_Aim_CC.197=all
War_Horse_Vorpal_Aim_CC.198=all
War_Horse_Vorpal_Aim_CC.199=all
War_Horse_Vorpal_Aim_CC.200=all
War_Horse_Vorpal_Aim_CC.201=all
War_Horse_Vorpal_Aim_CC.202=all
War_Horse_Vorpal_Aim_CC.203=all
War_Horse_Vorpal_Aim_CC.204=all
War_Horse_Vorpal_Aim_CC.205=all
War_Horse_Vorpal_Aim_CC.206=all
War_Horse_Vorpal_Aim_CC.207=all
War_Horse_Vorpal_Aim_CC.208=all
War_Horse_Vorpal_Aim_CC.209=all
War_Horse_Vorpal_Aim_CC.210=all
War_Horse_Vorpal_Aim_CC.211=all
War_Horse_Vorpal_Aim_CC.212=all
War_Horse_Vorpal_Aim_CC.213=all
War_Horse_Vorpal_Aim_CC.214=all
War_Horse_Vorpal_Aim_CC.215=all
War_Horse_Vorpal_Aim_CC.216=all
War_Horse_Vorpal_Aim_CC.217=all
War_Horse_Vorpal_Aim_CC.218=all
War_Horse_Vorpal_Aim_CC.219=all
War_Horse_Vorpal_Aim_CC.220=all
War_Horse_Vorpal_Aim_CC.221=all
War_Horse_Vorpal_Aim_CC.222=all
War_Horse_Vorpal_Aim_CC.223=all
War_Horse_Vorpal_Aim_CC.224=all
War_Horse_Vorpal_Aim_CC.225=all
War_Horse_Vorpal_Aim_CC.226=all
War_Horse_Vorpal_Aim_CC.227=all
War_Horse_Vorpal_Aim_CC.228=all
War_Horse_Vorpal_Aim_CC.229=all
War_Horse_Vorpal_Aim_CC.231=all
War_Horse_Vorpal_Aim_CC.232=all
War_Horse_Vorpal_Aim_CC.233=all
War_Horse_Vorpal_Aim_CC.234=all
War_Horse_Vorpal_Aim_CC.235=all
War_Horse_Vorpal_Aim_CC.236=all
War_Horse_Vorpal_Aim_CC.237=all
War_Horse_Vorpal_Aim_CC.240=all
War_Horse_Vorpal_Aim_CC.241=all
War_Horse_Vorpal_Aim_CC.243=all
War_Horse_Vorpal_Aim_CC.244=all
War_Horse_Vorpal_Aim_CC.245=all
War_Horse_Vorpal_Aim_CC.246=all
War_Horse_Vorpal_Aim_CC.248=all
War_Horse_Vorpal_Aim_CC.249=all
War_Horse_Vorpal_Aim_CC.250=all
War_Horse_Vorpal_Aim_CC.251=all
War_Horse_Vorpal_Aim_CC.252=all
War_Horse_Vorpal_Aim_CC.253=all
War_Horse_Vorpal_Aim_CC.254=all
War_Horse_Vorpal_Aim_CC.255=all
War_Horse_Vorpal_Aim_CC.256=all
War_Horse_Vorpal_Aim_CC.257=all
War_Horse_Vorpal_Aim_CC.258=all
War_Horse_Vorpal_Aim_CC.259=all
War_Horse_Vorpal_Aim_CC.260=all
War_Horse_Vorpal_Aim_CC.261=all
War_Horse_Vorpal_Aim_CC.262=all
War_Horse_Vorpal_Aim_CC.265=all
War_Horse_Vorpal_Aim_CC.266=all
War_Horse_Vorpal_Aim_CC.267=all
War_Horse_Vorpal_Aim_CC.268=all
War_Horse_Vorpal_Aim_CC.269=all
War_Horse_Vorpal_Aim_CC.270=all
War_Horse_Vorpal_Aim_CC.271=all
War_Horse_Vorpal_Aim_CC.272=all
War_Horse_Vorpal_Aim_CC.275=all
War_Horse_Vorpal_Aim_CC.276=all
War_Horse_Vorpal_Aim_CC.278=all
War_Horse_Vorpal_Aim_CC.282=all
War_Horse_Vorpal_Aim_CC.283=all
War_Horse_Vorpal_Aim_CC.284=all
War_Horse_Vorpal_Aim_CC.285=all
War_Horse_Vorpal_Aim_CC.286=all
War_Horse_Vorpal_Aim_CC.287=all
War_Horse_Vorpal_Aim_CC.288=all
War_Horse_Vorpal_Aim_CC.289=all
War_Horse_Vorpal_Aim_CC.290=all
War_Horse_Vorpal_Aim_CC.291=all
War_Horse_Vorpal_Aim_CC.292=all
War_Horse_Vorpal_Aim_CC.293=all
War_Horse_Vorpal_Aim_CC.294=all
War_Horse_Vorpal_Aim_CC.295=all
War_Horse_Vorpal_Aim_CC.296=all
War_Horse_Vorpal_Aim_CC.297=all
