[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Bone_Neph_Root
Bone_Neph_Pelvis
Bone_Neph_Cloth_1
Bone_Neph_Cloth_2
Bone_Neph_Cloth_3
Bone_Neph_Cloth_4
Bone_Neph_Cloth_5
Bone_Neph_SideCloth_1_L
Bone_Neph_SideCloth_2_L
Bone_Neph_SideCloth_3_L
Bone_Neph_Thigh_L
Bone_Neph_Calf_L
Bone_Neph_Ankle_L
Bone_Neph_Toes_L
Bone_Neph_ThighRoll_L
Bone_Neph_SideCloth_1_R
Bone_Neph_SideCloth_2_R
Bone_Neph_SideCloth_3_R
Bone_Neph_Thigh_R
Bone_Neph_Calf_R
Bone_Neph_Ankle_R
Bone_Neph_Toes_R
Bone_Neph_ThighRoll_R
null_Spine
Bone_Neph_Spine1
Bone_Neph_Spine2
Bone_Neph_Neck
Bone_Neph_Head
Bone_Neph_Clavicle_L
Bone_Neph_UpperArm_L
Bone_Neph_ForeArm_L
Bone_Neph_Hand_L
Bone_Neph_Fing_Ring1_L
Bone_Neph_Fing_Ring2_L
Bone_Neph_Fing_Ring3_L
Bone_Neph_Fing_Pinky1_L
Bone_Neph_Fing_Pinky2_L
Bone_Neph_Fing_Pinky3_L
Bone_Neph_Fing_Index1_L
Bone_Neph_Fing_Index2_L
Bone_Neph_Fing_Index3_L
Bone_Neph_Fing_Middle1_L
Bone_Neph_Fing_Middle2_L
Bone_Neph_Fing_Middle3_L
Bone_Neph_Fing_Thumb1_L
Bone_Neph_Fing_Thumb2_L
Bone_WeaponLink_Axe_RHand
Bone_WeaponLink_Dagger_RHand
Bone_Neph_ForeArmRoll_L
Bone_Neph_UpperArmRoll_L
Bone_Neph_Clavicle_R
Bone_Neph_UpperArm_R
Bone_Neph_ForeArm_R
Bone_Neph_Hand_R
Bone_Neph_Fing_Ring1_R
Bone_Neph_Fing_Ring2_R
Bone_Neph_Fing_Ring3_R
Bone_Neph_Fing_Pinky1_R
Bone_Neph_Fing_Pinky2_R
Bone_Neph_Fing_Pinky3_R
Bone_Neph_Fing_Index1_R
Bone_Neph_Fing_Index2_R
Bone_Neph_Fing_Index3_R
Bone_Neph_Fing_Middle1_R
Bone_Neph_Fing_Middle2_R
Bone_Neph_Fing_Middle3_R
Bone_Neph_Fing_Thumb1_R
Bone_Neph_Fing_Thumb2_R
Bone_WeaponLink_Dagger_LHand
Bone_WeaponLink_Axe_LHand
Bone_Neph_ForeArmRoll_R
Bone_Neph_UpperArmRoll_R
Bone_WeaponLink_Axe_Root
Bone_Neph_Weapon_Axe
Bone_WeaponLink_Dagger_Root
Bone_Neph_Weapon_Dagger
Bone_Neph_Interactive

[RemoveTracks]
Nephilim_Male_Impact_Flinch_F.7=all
Nephilim_Male_Impact_Flinch_F.12=all
Nephilim_Male_Impact_Flinch_F.15=all
Nephilim_Male_Impact_Flinch_F.16=all
Nephilim_Male_Impact_Flinch_F.20=all
Nephilim_Male_Impact_Flinch_F.72=all
Nephilim_Male_Impact_Flinch_F.74=all
Nephilim_Male_Impact_Flinch_F.76=all
