[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Bone_HellHound_Root
Bone_HellHound_Pelvis
Bone_HellHound_Thigh_L
Bone_HellHound_Calf_L
Bone_HellHound_Ankle_L
Bone_HellHound_Foot_L
Bone_HellHound_Toes_Middle1_L
Bone_HellHound_Toes_Ring1_L
Bone_HellHound_Toes_Index1_L
Bone_HellHound_Toes_Pinky1_L
Bone_HellHound_ThighRoll_L
Bone_HellHound_Tail_1
Bone_HellHound_Thigh_R
Bone_HellHound_Calf_R
Bone_HellHound_Ankle_R
Bone_HellHound_Foot_R
Bone_HellHound_Toes_Middle1_R
Bone_HellHound_Toes_Ring1_R
Bone_HellHound_Toes_Index1_R
Bone_HellHound_Toes_Pinky1_R
Bone_HellHound_ThighRoll_R
null_Spine
Bone_HellHound_Spine1
Bone_HellHound_Spine2
Bone_HellHound_Clavicle_L
Bone_HellHound_UpperArm_L
Bone_HellHound_ForeArm_L
Bone_HellHound_Hand_L
Bone_HellHound_Fing_Ring1_L
Bone_HellHound_Fing_Ring2_L
Bone_HellHound_Fing_Middle1_L
Bone_HellHound_Fing_Middle2_L
Bone_HellHound_Fing_Index1_L
Bone_HellHound_Fing_Index2_L
Bone_HellHound_Fing_Thumb1_L
Bone_HellHound_Fing_Thumb2_L
Bone_HellHound_Fing_Pinky1_L
Bone_HellHound_Fing_Pinky2_L
Bone_HellHound_ForeArmRoll_L
Bone_HellHound_UpperArmRoll_L
Bone_HellHound_Neck
Bone_HellHound_Head
Bone_HellHound_Jaw
Bone_HellHound_Nose
Bone_HellHound_Ear_1_L
Bone_HellHound_Ear_2_L
Bone_HellHound_Ear_1_R
Bone_HellHound_Ear_2_R
Bone_HellHound_Clavicle_R
Bone_HellHound_UpperArm_R
Bone_HellHound_ForeArm_R
Bone_HellHound_Hand_R
Bone_HellHound_Fing_Ring1_R
Bone_HellHound_Fing_Ring2_R
Bone_HellHound_Fing_Middle1_R
Bone_HellHound_Fing_Middle2_R
Bone_HellHound_Fing_Index1_R
Bone_HellHound_Fing_Index2_R
Bone_HellHound_Fing_Thumb1_R
Bone_HellHound_Fing_Thumb2_R
Bone_HellHound_Fing_Pinky1_R
Bone_HellHound_Fing_Pinky2_R
Bone_HellHound_ForeArmRoll_R
Bone_HellHound_UpperArmRoll_R
Bone_HellHound_Tail_2
Bone_HellHound_Tail_3
Bone_HellHound_Tail_4
Bone_HellHound_Interactive

[RemoveTracks]
HellHound_Jump_Launch.67=all
