[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Bone_HellHound_Root
Bone_HellHound_Pelvis
Bone_HellHound_Thigh_L
Bone_HellHound_Calf_L
Bone_HellHound_Ankle_L
Bone_HellHound_Foot_L
Bone_HellHound_Toes_Middle1_L
Bone_HellHound_Toes_Ring1_L
Bone_HellHound_Toes_Index1_L
Bone_HellHound_Toes_Pinky1_L
Bone_HellHound_ThighRoll_L
Bone_HellHound_Tail_1
Bone_HellHound_Thigh_R
Bone_HellHound_Calf_R
Bone_HellHound_Ankle_R
Bone_HellHound_Foot_R
Bone_HellHound_Toes_Middle1_R
Bone_HellHound_Toes_Ring1_R
Bone_HellHound_Toes_Index1_R
Bone_HellHound_Toes_Pinky1_R
Bone_HellHound_ThighRoll_R
null_Spine
Bone_HellHound_Spine1
Bone_HellHound_Spine2
Bone_HellHound_Clavicle_L
Bone_HellHound_UpperArm_L
Bone_HellHound_ForeArm_L
Bone_HellHound_Hand_L
Bone_HellHound_Fing_Ring1_L
Bone_HellHound_Fing_Ring2_L
Bone_HellHound_Fing_Middle1_L
Bone_HellHound_Fing_Middle2_L
Bone_HellHound_Fing_Index1_L
Bone_HellHound_Fing_Index2_L
Bone_HellHound_Fing_Thumb1_L
Bone_HellHound_Fing_Thumb2_L
Bone_HellHound_Fing_Pinky1_L
Bone_HellHound_Fing_Pinky2_L
Bone_HellHound_ForeArmRoll_L
Bone_HellHound_UpperArmRoll_L
Bone_HellHound_Neck
Bone_HellHound_Head
Bone_HellHound_Jaw
Bone_HellHound_Nose
Bone_HellHound_Ear_1_L
Bone_HellHound_Ear_2_L
Bone_HellHound_Ear_1_R
Bone_HellHound_Ear_2_R
Bone_HellHound_Clavicle_R
Bone_HellHound_UpperArm_R
Bone_HellHound_ForeArm_R
Bone_HellHound_Hand_R
Bone_HellHound_Fing_Ring1_R
Bone_HellHound_Fing_Ring2_R
Bone_HellHound_Fing_Middle1_R
Bone_HellHound_Fing_Middle2_R
Bone_HellHound_Fing_Index1_R
Bone_HellHound_Fing_Index2_R
Bone_HellHound_Fing_Thumb1_R
Bone_HellHound_Fing_Thumb2_R
Bone_HellHound_Fing_Pinky1_R
Bone_HellHound_Fing_Pinky2_R
Bone_HellHound_ForeArmRoll_R
Bone_HellHound_UpperArmRoll_R
Bone_HellHound_Tail_2
Bone_HellHound_Tail_3
Bone_HellHound_Tail_4
Bone_HellHound_Interactive

[RemoveTracks]
HellHound_LookPose_RU.1=all
HellHound_LookPose_RU.3=all
HellHound_LookPose_RU.4=all
HellHound_LookPose_RU.5=all
HellHound_LookPose_RU.6=all
HellHound_LookPose_RU.7=all
HellHound_LookPose_RU.9=all
HellHound_LookPose_RU.10=all
HellHound_LookPose_RU.11=all
HellHound_LookPose_RU.13=all
HellHound_LookPose_RU.14=all
HellHound_LookPose_RU.15=all
HellHound_LookPose_RU.16=all
HellHound_LookPose_RU.17=all
HellHound_LookPose_RU.18=all
HellHound_LookPose_RU.19=all
HellHound_LookPose_RU.20=all
HellHound_LookPose_RU.21=all
HellHound_LookPose_RU.27=all
HellHound_LookPose_RU.28=all
HellHound_LookPose_RU.29=all
HellHound_LookPose_RU.30=all
HellHound_LookPose_RU.31=all
HellHound_LookPose_RU.32=all
HellHound_LookPose_RU.33=all
HellHound_LookPose_RU.34=all
HellHound_LookPose_RU.35=all
HellHound_LookPose_RU.36=all
HellHound_LookPose_RU.37=all
HellHound_LookPose_RU.51=all
HellHound_LookPose_RU.52=all
HellHound_LookPose_RU.53=all
HellHound_LookPose_RU.54=all
HellHound_LookPose_RU.55=all
HellHound_LookPose_RU.56=all
HellHound_LookPose_RU.57=all
HellHound_LookPose_RU.58=all
HellHound_LookPose_RU.59=all
HellHound_LookPose_RU.60=all
HellHound_LookPose_RU.61=all
HellHound_LookPose_RU.67=all
