[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Bone_HellHound_Root
Bone_HellHound_Pelvis
Bone_HellHound_Thigh_L
Bone_HellHound_Calf_L
Bone_HellHound_Ankle_L
Bone_HellHound_Foot_L
Bone_HellHound_Toes_Middle1_L
Bone_HellHound_Toes_Ring1_L
Bone_HellHound_Toes_Index1_L
Bone_HellHound_Toes_Pinky1_L
Bone_HellHound_ThighRoll_L
Bone_HellHound_Tail_1
Bone_HellHound_Thigh_R
Bone_HellHound_Calf_R
Bone_HellHound_Ankle_R
Bone_HellHound_Foot_R
Bone_HellHound_Toes_Middle1_R
Bone_HellHound_Toes_Ring1_R
Bone_HellHound_Toes_Index1_R
Bone_HellHound_Toes_Pinky1_R
Bone_HellHound_ThighRoll_R
null_Spine
Bone_HellHound_Spine1
Bone_HellHound_Spine2
Bone_HellHound_Clavicle_L
Bone_HellHound_UpperArm_L
Bone_HellHound_ForeArm_L
Bone_HellHound_Hand_L
Bone_HellHound_Fing_Ring1_L
Bone_HellHound_Fing_Ring2_L
Bone_HellHound_Fing_Middle1_L
Bone_HellHound_Fing_Middle2_L
Bone_HellHound_Fing_Index1_L
Bone_HellHound_Fing_Index2_L
Bone_HellHound_Fing_Thumb1_L
Bone_HellHound_Fing_Thumb2_L
Bone_HellHound_Fing_Pinky1_L
Bone_HellHound_Fing_Pinky2_L
Bone_HellHound_ForeArmRoll_L
Bone_HellHound_UpperArmRoll_L
Bone_HellHound_Neck
Bone_HellHound_Head
Bone_HellHound_Jaw
Bone_HellHound_Nose
Bone_HellHound_Ear_1_L
Bone_HellHound_Ear_2_L
Bone_HellHound_Ear_1_R
Bone_HellHound_Ear_2_R
Bone_HellHound_Clavicle_R
Bone_HellHound_UpperArm_R
Bone_HellHound_ForeArm_R
Bone_HellHound_Hand_R
Bone_HellHound_Fing_Ring1_R
Bone_HellHound_Fing_Ring2_R
Bone_HellHound_Fing_Middle1_R
Bone_HellHound_Fing_Middle2_R
Bone_HellHound_Fing_Index1_R
Bone_HellHound_Fing_Index2_R
Bone_HellHound_Fing_Thumb1_R
Bone_HellHound_Fing_Thumb2_R
Bone_HellHound_Fing_Pinky1_R
Bone_HellHound_Fing_Pinky2_R
Bone_HellHound_ForeArmRoll_R
Bone_HellHound_UpperArmRoll_R
Bone_HellHound_Tail_2
Bone_HellHound_Tail_3
Bone_HellHound_Tail_4
Bone_HellHound_Interactive

[RemoveTracks]
HellHound_LookPose_CC.1=all
HellHound_LookPose_CC.2=all
HellHound_LookPose_CC.3=all
HellHound_LookPose_CC.4=all
HellHound_LookPose_CC.5=all
HellHound_LookPose_CC.6=all
HellHound_LookPose_CC.7=all
HellHound_LookPose_CC.8=all
HellHound_LookPose_CC.9=all
HellHound_LookPose_CC.10=all
HellHound_LookPose_CC.11=all
HellHound_LookPose_CC.12=all
HellHound_LookPose_CC.13=all
HellHound_LookPose_CC.14=all
HellHound_LookPose_CC.15=all
HellHound_LookPose_CC.16=all
HellHound_LookPose_CC.17=all
HellHound_LookPose_CC.18=all
HellHound_LookPose_CC.19=all
HellHound_LookPose_CC.20=all
HellHound_LookPose_CC.21=all
HellHound_LookPose_CC.22=all
HellHound_LookPose_CC.23=all
HellHound_LookPose_CC.24=all
HellHound_LookPose_CC.25=all
HellHound_LookPose_CC.26=all
HellHound_LookPose_CC.27=all
HellHound_LookPose_CC.28=all
HellHound_LookPose_CC.29=all
HellHound_LookPose_CC.30=all
HellHound_LookPose_CC.31=all
HellHound_LookPose_CC.32=all
HellHound_LookPose_CC.33=all
HellHound_LookPose_CC.34=all
HellHound_LookPose_CC.35=all
HellHound_LookPose_CC.36=all
HellHound_LookPose_CC.37=all
HellHound_LookPose_CC.38=all
HellHound_LookPose_CC.39=all
HellHound_LookPose_CC.40=all
HellHound_LookPose_CC.41=all
HellHound_LookPose_CC.42=all
HellHound_LookPose_CC.43=all
HellHound_LookPose_CC.44=all
HellHound_LookPose_CC.45=all
HellHound_LookPose_CC.48=all
HellHound_LookPose_CC.49=all
HellHound_LookPose_CC.50=all
HellHound_LookPose_CC.51=all
HellHound_LookPose_CC.52=all
HellHound_LookPose_CC.53=all
HellHound_LookPose_CC.54=all
HellHound_LookPose_CC.55=all
HellHound_LookPose_CC.56=all
HellHound_LookPose_CC.57=all
HellHound_LookPose_CC.58=all
HellHound_LookPose_CC.59=all
HellHound_LookPose_CC.60=all
HellHound_LookPose_CC.61=all
HellHound_LookPose_CC.62=all
HellHound_LookPose_CC.63=all
HellHound_LookPose_CC.64=all
HellHound_LookPose_CC.65=all
HellHound_LookPose_CC.66=all
HellHound_LookPose_CC.67=all
