[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Bone_Roller_Root
Bone_Roller_Pelvis
Bone_Roller_Thigh_L
Bone_Roller_Calf_L
Bone_Roller_Ankle_L
Bone_Roller_Foot_L
Bone_Roller_Toes_Pinky1_L
Bone_Roller_Toes_Ring1_L
Bone_Roller_Toes_Index1_L
Bone_Roller_Toes_Middle1_L
Bone_Roller_ThighRoll_L
Bone_Roller_Tail_1
Bone_Roller_Tail_2
Bone_Roller_Tail_3
Bone_Roller_Tail_4
Bone_Roller_Tail_5
Bone_Roller_Thigh_R
Bone_Roller_Calf_R
Bone_Roller_Ankle_R
Bone_Roller_Foot_R
Bone_Roller_Toes_Pinky1_R
Bone_Roller_Toes_Ring1_R
Bone_Roller_Toes_Index1_R
Bone_Roller_Toes_Middle1_R
Bone_Roller_ThighRoll_R
null_Spine
Bone_Roller_Spine1
Bone_Roller_Spine2
Bone_Roller_Neck
Bone_Roller_Head
Bone_Roller_UpperMouth_L
Bone_Roller_Jaw
Bone_Roller_LowerMouth_Outer_R
Bone_Roller_LowerMouth_Inner_L
Bone_Roller_LowerMouth_Outer_L
Bone_Roller_LowerMouth_Inner_R
Bone_Roller_UpperMouth_R
Bone_Roller_Misc_SkullChain
Bone_Roller_EyeLid_Lower_R
Bone_Roller_EyeLid_Upper_R
Bone_Roller_EyeLid_Lower_L
Bone_Roller_EyeLid_Upper_L
Bone_Roller_Clavicle_L
Bone_Roller_UpperArm_L
Bone_Roller_ForeArm_L
Bone_Roller_Hand_L
Bone_Roller_Fing_Ring1_L
Bone_Roller_Fing_Ring2_L
Bone_Roller_Fing_Ring3_L
Bone_Roller_Fing_Pinky1_L
Bone_Roller_Fing_Pinky2_L
Bone_Roller_Fing_Pinky3_L
Bone_Roller_Fing_Index1_L
Bone_Roller_Fing_Index2_L
Bone_Roller_Fing_Index3_L
Bone_Roller_Fing_Middle1_L
Bone_Roller_Fing_Middle2_L
Bone_Roller_Fing_Middle3_L
Bone_Roller_Fing_Thumb1_L
Bone_Roller_Fing_Thumb2_L
Bone_Roller_Fing_Thumb3_L
Bone_Roller_ForeArmRoll_L
Bone_Roller_UpperArmRoll_L
Bone_Roller_Armor_Shoulder_L
Bone_Roller_Clavicle_R
Bone_Roller_UpperArm_R
Bone_Roller_ForeArm_R
Bone_Roller_Hand_R
Bone_Roller_Fing_Ring1_R
Bone_Roller_Fing_Ring2_R
Bone_Roller_Fing_Ring3_R
Bone_Roller_Fing_Pinky1_R
Bone_Roller_Fing_Pinky2_R
Bone_Roller_Fing_Pinky3_R
Bone_Roller_Fing_Index1_R
Bone_Roller_Fing_Index2_R
Bone_Roller_Fing_Index3_R
Bone_Roller_Fing_Middle1_R
Bone_Roller_Fing_Middle2_R
Bone_Roller_Fing_Middle3_R
Bone_Roller_Fing_Thumb1_R
Bone_Roller_Fing_Thumb2_R
Bone_Roller_Fing_Thumb3_R
Bone_Roller_Weapon_Steamroller
Bone_Roller_Weapon_Steamroller_Roll
Bone_Roller_ForeArmRoll_R
Bone_Roller_UpperArmRoll_R
Bone_Roller_Armor_Shoulder_R
Bone_Roller_BackPipe_1_R
Bone_Roller_BackPipe_2_R
Bone_Roller_BackPipe_1_L
Bone_Roller_BackPipe_2_L
Bone_Roller_Armor_Chest
Bone_Roller_Armor_Back
Bone_Roller_Weapon_End_R
Bone_Roller_Weapon_End_L
Bone_Roller_Interactive
Bone_Roller_Camera

[RemoveTracks]
Steamroller_Impact_B.96=all
Steamroller_Impact_B.97=all
