[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
_Ctrl_World
Bone_LE_Root
Bone_LE_Belt
Bone_LE_Buckle
Bone_LE_Loin01
Bone_LE_Loin02
_end_Loin
Bone_LE_Spine1
Bone_LE_Spine2
Bone_LE_Neck
Bone_LE_Head
Bone_LE_Jaw
Bone_LE_Tongue
Bone_LE_EyeLid_L
Bone_LE_Brow
Bone_LE_EyeLid_R
_rig_Wing_zero_L
Bone_LE_Wing1_L
Bone_LE_Wing2_L
Bone_LE_Wing3_L
_end_Wing_L
_rig_Wing_zero_R
Bone_LE_Wing1_R
Bone_LE_Wing2_R
Bone_LE_Wing3_R
_end_Wing_R
Bone_LE_Clavicle_R
Bone_LE_UpperArmRoll_R
_end_UpperArmRoll_R
Bone_LE_UpperArm_R
Bone_LE_ForeArm_R
Bone_LE_Hand_R
_end_Hand_R
Bone_LE_Thumb1_R
Bone_LE_Thumb2_R
Bone_LE_Index1_R
Bone_LE_Index2_R
Bone_LE_Middle1_R
Bone_LE_Middle2_R
Bone_LE_Ring1_R
Bone_LE_Ring2_R
Bone_LE_Pinky1_R
Bone_LE_Pinky2_R
_Bone_LE_Weapon
_Legion_AxeA01
Bone_LE_Weapon
_rig_ForeArmRoll_zero_R
Bone_LE_ForeArmRoll_R
_end_ForeArmRoll_R
_rig_foreArm_guard_zero_R
Bone_LE_Wrist_R
_end_Clavicle_R
Bone_LE_Clavicle_L
_end_Clavicle_L
Bone_LE_UpperArmRoll_L
_end_UpperArmRoll_L
Bone_LE_UpperArm_L
Bone_LE_ForeArm_L
Bone_LE_Hand_L
_end_Hand_L
Bone_LE_Pinky1_L
Bone_LE_Pinky2_L
Bone_LE_Ring1_L
Bone_LE_Ring2_L
Bone_LE_Middle1_L
Bone_LE_Middle2_L
Bone_LE_Index1_L
Bone_LE_Index2_L
Bone_LE_Thumb1_L
Bone_LE_Thumb2_L
_rig_ForeArmRoll_zero_L
Bone_LE_ForeArmRoll_L
_end_ForeArmRoll_L
_rig_foreArm_guard_zero_L
Bone_LE_Wrist_L
_end_Spine1
LegionA_Cloth
LegionA
Bone_LE_Pelvis
_end_Pelvis
Bone_LE_Thigh_R
Bone_LE_Knee_R
Bone_LE_Ankle_R
Bone_LE_Foot_R
_end_Leg_R
Bone_LE_KneePad_R
Bone_LE_Thigh_L
Bone_LE_Knee_L
Bone_LE_Ankle_L
Bone_LE_Foot_L
_end_Leg_L
Bone_LE_KneePad_L
_rig_Tail_zero
Bone_LE_Tail01
Bone_LE_Tail02
Bone_LE_Tail03
Bone_LE_Tail04
_end_Tail
Bone_LE_Interactive
Bone_LE_Weapon_L
Bone_LE_Rigid_03
Bone_LE_Rigid_01
Bone_LE_Rigid_02
Bone_LE_SpearB_01
Bone_LE_SpearB_02
Bone_LE_SpearB_03

[RemoveTracks]
Legion_Run_B.6=all
Legion_Run_B.20=all
Legion_Run_B.25=all
Legion_Run_B.28=all
Legion_Run_B.32=all
Legion_Run_B.43=all
Legion_Run_B.44=all
Legion_Run_B.48=all
Legion_Run_B.51=all
Legion_Run_B.53=all
Legion_Run_B.55=all
Legion_Run_B.59=all
Legion_Run_B.72=all
Legion_Run_B.75=all
Legion_Run_B.76=all
Legion_Run_B.77=all
Legion_Run_B.79=all
Legion_Run_B.84=all
Legion_Run_B.90=all
Legion_Run_B.97=all
Legion_Run_B.99=all
Legion_Run_B.100=all
Legion_Run_B.101=all
Legion_Run_B.102=all
Legion_Run_B.103=all
Legion_Run_B.104=all
Legion_Run_B.105=all
