[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Bone_HL_Root
Bone_HL_Pelvis
Bone_HL_Thigh_L
Bone_HL_Calf_L
Bone_HL_Ankle_L
Bone_HL_Toes_L
Bone_HL_ThighRoll_L
Bone_HL_Tail_1
Bone_HL_Tail_2
Bone_HL_Tail_3
Bone_HL_Tail_4
Bone_HL_Tail_5
Bone_HL_Tail_6
Bone_HL_Tail_7
Bone_HL_Tail_8
Bone_HL_Tail_9
Bone_HL_Thigh_R
Bone_HL_Calf_R
Bone_HL_Ankle_R
Bone_HL_Toes_R
Bone_HL_ThighRoll_R
null_Spine
Bone_HL_Spine1
Bone_HL_Spine2
Bone_HL_Spine3
Bone_HL_Neck
Bone_HL_Head
Bone_HL_Face_Jaw
Bone_HL_Tail_Tongue_1
Bone_HL_Tail_Tongue_2
Bone_HL_Tail_Tongue_3
Bone_HL_Tail_Tongue_4
Bone_HL_Tail_Tongue_5
Bone_HL_Face_Brow2_L
Bone_HL_Face_Brow1_L
Bone_HL_Face_ForeHead
Bone_HL_Face_EyeLidLow_L
Bone_HL_Face_EyeLid_L
Bone_HL_Face_EyeBall_L
Bone_HL_MouthS_1_L
Bone_HL_MouthS_2_L
Bone_HL_Face_Brow2_R
Bone_HL_Face_Brow1_R
Bone_HL_Face_EyeBall_R
Bone_HL_MouthS_1_R
Bone_HL_MouthS_2_R
Bone_HL_Face_UpperJaw
Bone_HL_Clavicle_L
Bone_HL_UpperArm_L
Bone_HL_ForeArm_L
Bone_HL_Hand_L
Bone_HL_Fing_Ring1_L
Bone_HL_Fing_Ring2_L
Bone_HL_Fing_Index1_L
Bone_HL_Fing_Index2_L
Bone_HL_Fing_Middle1_L
Bone_HL_Fing_Middle2_L
Bone_HL_Fing_Thumb1_L
Bone_HL_Fing_Thumb2_L
Bone_HL_ForeArmRoll_L
Bone_HL_UpperArmRoll_L
Bone_HL_Bicep_L
Bone_HL_Clavicle_R
Bone_HL_UpperArm_R
Bone_HL_ForeArm_R
Bone_HL_Hand_R
Bone_HL_Fing_Thumb1_R
Bone_HL_Fing_Thumb2_R
Bone_HL_Fing_Index1_R
Bone_HL_Fing_Index2_R
Bone_HL_Fing_Middle1_R
Bone_HL_Fing_Middle2_R
Bone_HL_Fing_Ring1_R
Bone_HL_Fing_Ring2_R
Bone_HL_ForeArmRoll_R
Bone_HL_UpperArmRoll_R
Bone_HL_Bicep_R
Bone_HL_Plate_4
Bone_HL_Plate_3
Bone_HL_Plate_2
Bone_HL_Plate_1
Bone_HL_ShoulderB_L
Bone_HL_ShoulderB_R
Bone_HL_Interactive
