[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Bone_Goblin_Root
Bone_Goblin_Pelvis
Bone_Goblin_Thigh_L
Bone_Goblin_Calf_L
Bone_Goblin_Ankle_L
Bone_Goblin_Toes_Ring1_L
Bone_Goblin_Toes_Index1_L
Bone_Goblin_Toes_Middle1_L
Bone_Goblin_ThighRoll_L
Bone_Goblin_Thigh_R
Bone_Goblin_Calf_R
Bone_Goblin_Ankle_R
Bone_Goblin_Toes_Ring1_R
Bone_Goblin_Toes_Index1_R
Bone_Goblin_Toes_Middle1_R
Bone_Goblin_ThighRoll_R
null_Spine
Bone_Goblin_Spine1
Bone_Goblin_Spine2
Bone_Goblin_Neck
Bone_Goblin_Head
Bone_Goblin_Face_EyeLidUp_L
Bone_Goblin_Face_EyeLidLow_L
Bone_Goblin_Face_UpperLip2_L
Bone_Goblin_Face_Jaw
Bone_Goblin_Face_LowerLip1_L
Bone_Goblin_Face_LowerLip2_L
Bone_Goblin_Face_LowerLip1_R
Bone_Goblin_Face_LowerLip2_R
Bone_Goblin_Face_EyeLidUp_R
Bone_Goblin_Face_EyeLidLow_R
Bone_Goblin_Face_UpperLip2_R
Bone_Goblin_Ear_1_L
Bone_Goblin_Ear_2_L
Bone_Goblin_Ear_3_L
Bone_Goblin_Ear_Ring
Bone_Goblin_Ear_1_R
Bone_Goblin_Ear_2_R
Bone_Goblin_Ear_3_R
Bone_Goblin_Tongue_1
Bone_Goblin_Tongue_2
Bone_Goblin_Tongue_3
Bone_Goblin_Clavicle_L
Bone_Goblin_UpperArm_L
Bone_Goblin_ForeArm_L
Bone_Goblin_Hand_L
Bone_Goblin_Fing_Ring1_L
Bone_Goblin_Fing_Ring2_L
Bone_Goblin_Fing_Index1_L
Bone_Goblin_Fing_Index2_L
Bone_Goblin_Fing_Middle1_L
Bone_Goblin_Fing_Middle2_L
Bone_Goblin_Fing_Thumb1_L
Bone_Goblin_Fing_Thumb2_L
Bone_Goblin_ForeArmRoll_L
Bone_Goblin_UpperArmRoll_L
Bone_Goblin_Clavicle_R
Bone_Goblin_UpperArm_R
Bone_Goblin_ForeArm_R
Bone_Goblin_Hand_R
Bone_Goblin_Fing_Ring1_R
Bone_Goblin_Fing_Ring2_R
Bone_Goblin_Fing_Index1_R
Bone_Goblin_Fing_Index2_R
Bone_Goblin_Fing_Middle1_R
Bone_Goblin_Fing_Middle2_R
Bone_Goblin_Fing_Thumb1_R
Bone_Goblin_Fing_Thumb2_R
Bone_Goblin_Weapon_Fleamag_Sword
Bone_Goblin_ForeArmRoll_R
Bone_Goblin_UpperArmRoll_R
Bone_Goblin_Chest_Push
Bone_Goblin_Tail
Bone_Goblin_ShoulderPad
Fleamag_Sword
Bone_Goblin_Interactive
Bone_Goblin_Quiver

[RemoveTracks]
Goblin_SnS_Sit_Idle.75=all
Goblin_SnS_Sit_Idle.76=all
