[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Bone_S_Root
Bone_S_Pelvis
Bone_S_Thigh_L
Bone_S_Calf_L
Bone_S_Ankle_L
Bone_S_Toes_L
Bone_S_CalfKnee_L
Bone_S_KneeCap_L
Bone_S_CalfRoll_L
Bone_S_ThighRoll_L
Bone_S_HipPad_01_L
Bone_S_ThighKnee_L
Bone_S_Thigh_R
Bone_S_Calf_R
Bone_S_Ankle_R
Bone_S_Toes_R
Bone_S_CalfKnee_R
Bone_S_KneeCap_R
Bone_S_CalfRoll_R
Bone_S_ThighRoll_R
Bone_S_ThighKnee_R
Bone_S_Belt
null_Spine
Bone_S_Spine1
Bone_S_Spine2
Bone_S_Neck
Bone_S_Head
Bone_S_Face_ForeHead
Bone_S_Face_Brow1_L
Bone_S_Face_CheekBn2_R
Bone_S_Face_Brow2_R
Bone_S_Face_Brow1_R
Bone_S_Face_CheekBn1_L
Bone_S_Face_CheekBn1_R
Bone_S_Face_Brow2_L
Bone_S_Face_CheekBn2_L
Bone_S_Face_Nostril_L
Bone_S_Face_Nose
Bone_S_Face_Nostril_R
Bone_S_Face_Jaw
Bone_S_Clavicle_L
Bone_S_UpperArm_L
Bone_S_ForeArm_L
Bone_S_Hand_L
Bone_S_Fing_Ring1_L
Bone_S_Fing_Ring2_L
Bone_S_Fing_Ring3_L
Bone_S_Fing_Pinky1_L
Bone_S_Fing_Pinky2_L
Bone_S_Fing_Pinky3_L
Bone_S_Fing_Index1_L
Bone_S_Fing_Index2_L
Bone_S_Fing_Index3_L
Bone_S_Fing_Middle1_L
Bone_S_Fing_Middle2_L
Bone_S_Fing_Middle3_L
Bone_S_Fing_Thumb1_L
Bone_S_Fing_Thumb2_L
Bone_S_Fing_Thumb3_L
Bone_S_Weapon_L
Bone_S_Bow_Root
Bone_S_Bow_Low
Bone_S_String_Low
Bone_S_Bow_Up
Bone_S_String_Up
Bone_S_ForeArmRoll_L
Bone_S_ForeArmElbow_L
Bone_S_UpperArmRoll_L
Bone_S_UpperArmElbow_L
Bone_S_Clavicle_R
Bone_S_UpperArm_R
Bone_S_ForeArm_R
Bone_S_Hand_R
Bone_S_Fing_Ring1_R
Bone_S_Fing_Ring2_R
Bone_S_Fing_Ring3_R
Bone_S_Fing_Pinky1_R
Bone_S_Fing_Pinky2_R
Bone_S_Fing_Pinky3_R
Bone_S_Fing_Index1_R
Bone_S_Fing_Index2_R
Bone_S_Fing_Index3_R
Bone_S_Fing_Middle1_R
Bone_S_Fing_Middle2_R
Bone_S_Fing_Middle3_R
Bone_S_Fing_Thumb1_R
Bone_S_Fing_Thumb2_R
Bone_S_Fing_Thumb3_R
Bone_S_Weapon_R
Bone_S_ForeArmRoll_R
Bone_S_ForeArmElbow_R
Bone_S_UpperArmRoll_R
Bone_S_UpperArmElbow_R
Bone_S_ShoulderP_R
Bone_S_ShoulderP_L
Bone_S_Quiver_L
Bone_S_Quiver_R
Bone_S_HipPad_01_R
Bone_S_Rigid_01_L
Bone_S_Rigid_02_L
Bone_S_Rigid_01_C
Bone_S_Rigid_02_C
Bone_S_Rigid_01_R
Bone_S_Rigid_02_R
Bone_S_Interactive
Bone_S_WeaponRoot_L
Bone_S_WeaponRoot_R

[RemoveTracks]
UndeadChamp_Walk_L.104=all
UndeadChamp_Walk_L.105=all
UndeadChamp_Walk_L.106=all
