[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Bone_S_Root
Bone_S_Pelvis
Bone_S_Thigh_L
Bone_S_Calf_L
Bone_S_Ankle_L
Bone_S_Toes_L
Bone_S_CalfKnee_L
Bone_S_KneeCap_L
Bone_S_CalfRoll_L
Bone_S_ThighRoll_L
Bone_S_HipPad_01_L
Bone_S_ThighKnee_L
Bone_S_Thigh_R
Bone_S_Calf_R
Bone_S_Ankle_R
Bone_S_Toes_R
Bone_S_CalfKnee_R
Bone_S_KneeCap_R
Bone_S_CalfRoll_R
Bone_S_ThighRoll_R
Bone_S_ThighKnee_R
Bone_S_Belt
null_Spine
Bone_S_Spine1
Bone_S_Spine2
Bone_S_Neck
Bone_S_Head
Bone_S_Face_ForeHead
Bone_S_Face_Brow1_L
Bone_S_Face_CheekBn2_R
Bone_S_Face_Brow2_R
Bone_S_Face_Brow1_R
Bone_S_Face_CheekBn1_L
Bone_S_Face_CheekBn1_R
Bone_S_Face_Brow2_L
Bone_S_Face_CheekBn2_L
Bone_S_Face_Nostril_L
Bone_S_Face_Nose
Bone_S_Face_Nostril_R
Bone_S_Face_Jaw
Bone_S_Clavicle_L
Bone_S_UpperArm_L
Bone_S_ForeArm_L
Bone_S_Hand_L
Bone_S_Fing_Ring1_L
Bone_S_Fing_Ring2_L
Bone_S_Fing_Ring3_L
Bone_S_Fing_Pinky1_L
Bone_S_Fing_Pinky2_L
Bone_S_Fing_Pinky3_L
Bone_S_Fing_Index1_L
Bone_S_Fing_Index2_L
Bone_S_Fing_Index3_L
Bone_S_Fing_Middle1_L
Bone_S_Fing_Middle2_L
Bone_S_Fing_Middle3_L
Bone_S_Fing_Thumb1_L
Bone_S_Fing_Thumb2_L
Bone_S_Fing_Thumb3_L
Bone_S_Weapon_L
Bone_S_Bow_Root
Bone_S_Bow_Low
Bone_S_String_Low
Bone_S_Bow_Up
Bone_S_String_Up
Bone_S_ForeArmRoll_L
Bone_S_ForeArmElbow_L
Bone_S_UpperArmRoll_L
Bone_S_UpperArmElbow_L
Bone_S_Clavicle_R
Bone_S_UpperArm_R
Bone_S_ForeArm_R
Bone_S_Hand_R
Bone_S_Fing_Ring1_R
Bone_S_Fing_Ring2_R
Bone_S_Fing_Ring3_R
Bone_S_Fing_Pinky1_R
Bone_S_Fing_Pinky2_R
Bone_S_Fing_Pinky3_R
Bone_S_Fing_Index1_R
Bone_S_Fing_Index2_R
Bone_S_Fing_Index3_R
Bone_S_Fing_Middle1_R
Bone_S_Fing_Middle2_R
Bone_S_Fing_Middle3_R
Bone_S_Fing_Thumb1_R
Bone_S_Fing_Thumb2_R
Bone_S_Fing_Thumb3_R
Bone_S_Weapon_R
Bone_S_ForeArmRoll_R
Bone_S_ForeArmElbow_R
Bone_S_UpperArmRoll_R
Bone_S_UpperArmElbow_R
Bone_S_ShoulderP_R
Bone_S_ShoulderP_L
Bone_S_Quiver_L
Bone_S_Quiver_R
Bone_S_HipPad_01_R
Bone_S_Rigid_01_L
Bone_S_Rigid_02_L
Bone_S_Rigid_01_C
Bone_S_Rigid_02_C
Bone_S_Rigid_01_R
Bone_S_Rigid_02_R
Bone_S_Interactive
Bone_S_WeaponRoot_L
Bone_S_WeaponRoot_R

[RemoveTracks]
UndeadChamp_LookPose_CD.2=all
UndeadChamp_LookPose_CD.3=all
UndeadChamp_LookPose_CD.4=all
UndeadChamp_LookPose_CD.5=all
UndeadChamp_LookPose_CD.6=all
UndeadChamp_LookPose_CD.7=all
UndeadChamp_LookPose_CD.8=all
UndeadChamp_LookPose_CD.9=all
UndeadChamp_LookPose_CD.10=all
UndeadChamp_LookPose_CD.11=all
UndeadChamp_LookPose_CD.12=all
UndeadChamp_LookPose_CD.13=all
UndeadChamp_LookPose_CD.15=all
UndeadChamp_LookPose_CD.16=all
UndeadChamp_LookPose_CD.17=all
UndeadChamp_LookPose_CD.19=all
UndeadChamp_LookPose_CD.20=all
UndeadChamp_LookPose_CD.22=all
UndeadChamp_LookPose_CD.42=all
UndeadChamp_LookPose_CD.43=all
UndeadChamp_LookPose_CD.44=all
UndeadChamp_LookPose_CD.45=all
UndeadChamp_LookPose_CD.46=all
UndeadChamp_LookPose_CD.47=all
UndeadChamp_LookPose_CD.48=all
UndeadChamp_LookPose_CD.49=all
UndeadChamp_LookPose_CD.50=all
UndeadChamp_LookPose_CD.51=all
UndeadChamp_LookPose_CD.52=all
UndeadChamp_LookPose_CD.53=all
UndeadChamp_LookPose_CD.54=all
UndeadChamp_LookPose_CD.55=all
UndeadChamp_LookPose_CD.56=all
UndeadChamp_LookPose_CD.57=all
UndeadChamp_LookPose_CD.58=all
UndeadChamp_LookPose_CD.60=all
UndeadChamp_LookPose_CD.61=all
UndeadChamp_LookPose_CD.62=all
UndeadChamp_LookPose_CD.63=all
UndeadChamp_LookPose_CD.64=all
UndeadChamp_LookPose_CD.71=all
UndeadChamp_LookPose_CD.73=all
UndeadChamp_LookPose_CD.74=all
UndeadChamp_LookPose_CD.75=all
UndeadChamp_LookPose_CD.76=all
UndeadChamp_LookPose_CD.77=all
UndeadChamp_LookPose_CD.78=all
UndeadChamp_LookPose_CD.79=all
UndeadChamp_LookPose_CD.80=all
UndeadChamp_LookPose_CD.81=all
UndeadChamp_LookPose_CD.82=all
UndeadChamp_LookPose_CD.83=all
UndeadChamp_LookPose_CD.84=all
UndeadChamp_LookPose_CD.85=all
UndeadChamp_LookPose_CD.86=all
UndeadChamp_LookPose_CD.87=all
UndeadChamp_LookPose_CD.97=all
UndeadChamp_LookPose_CD.98=all
UndeadChamp_LookPose_CD.99=all
UndeadChamp_LookPose_CD.100=all
UndeadChamp_LookPose_CD.101=all
UndeadChamp_LookPose_CD.102=all
UndeadChamp_LookPose_CD.103=all
UndeadChamp_LookPose_CD.104=all
UndeadChamp_LookPose_CD.105=all
UndeadChamp_LookPose_CD.106=all
