[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Bone_War_Root
Bone_War_Pelvis
Bone_War_Thigh_L
Bone_War_Calf_L
Bone_War_Ankle_L
Bone_War_Toes_L
Bone_War_ThighRoll_L
Bone_War_Thigh_R
Bone_War_Calf_R
Bone_War_Ankle_R
Bone_War_Toes_R
Bone_War_ThighRoll_R
null_Spine
Bone_War_Spine1
Bone_War_Spine2
Bone_War_Neck
Bone_War_Head
Bone_War_Face_Parent
Bone_War_Face_BrowMid_L
Bone_War_Face_BrowInner_L
Bone_War_Face_Cheek_R
Bone_War_Face_EyeLidLow_L
Bone_War_Face_EyeLid_L
Bone_War_Face_Nostril_L
Bone_War_Face_EyeLid_R
Bone_War_Face_BrowMid_R
Bone_War_Face_BrowInner_R
Bone_War_Face_EyeLidLow_R
Bone_War_Face_BrowOuter_R
Bone_War_Face_BrowOuter_L
Bone_War_Face_Nostril_R
Bone_War_Face_Cheek_L
Bone_War_Face_ForeHead
Bone_War_Face_UpperLip1_R
Bone_War_Face_UpperLip2_L
Bone_War_Face_UpperLip1_L
Bone_War_Face_UpperLip2_R
Bone_War_Face_Lip_End_L
Bone_War_Face_Lip_End_R
Bone_War_Face_Jaw
Bone_War_Face_LowerLip1_L
Bone_War_Face_LowerLip2_L
Bone_War_Face_LowerLip1_R
Bone_War_Face_LowerLip2_R
Bone_War_Face_EyeBall_L
Bone_War_Face_EyeBall_R
Bone_War_Clavicle_L
Bone_War_UpperArm_L
Bone_War_ForeArm_L
Bone_War_Hand_L
Bone_War_Fing_Ring1_L
Bone_War_Fing_Ring2_L
Bone_War_Fing_Ring3_L
Bone_War_Fing_Pinky1_L
Bone_War_Fing_Pinky2_L
Bone_War_Fing_Pinky3_L
Bone_War_Fing_Index1_L
Bone_War_Fing_Index2_L
Bone_War_Fing_Index3_L
Bone_War_Fing_Middle1_L
Bone_War_Fing_Middle2_L
Bone_War_Fing_Middle3_L
Bone_War_Fing_Thumb1_L
Bone_War_Fing_Thumb2_L
Bone_War_Fing_Thumb3_L
Bone_War_ForeArmRoll_L
Bone_War_UpperArmRoll_L
Bone_War_L_ShoulderPad
Bone_War_Clavicle_R
Bone_War_UpperArm_R
Bone_War_ForeArm_R
Bone_War_ForeArmRoll_R
Bone_War_Hand_R
Bone_War_Fing_Pinky1_R
Bone_War_Fing_Pinky2_R
Bone_War_Fing_Pinky3_R
Bone_War_Fing_Ring1_R
Bone_War_Fing_Ring2_R
Bone_War_Fing_Ring3_R
Bone_War_Fing_Middle1_R
Bone_War_Fing_Middle2_R
Bone_War_Fing_Middle3_R
Bone_War_Fing_Thumb1_R
Bone_War_Fing_Thumb2_R
Bone_War_Fing_Thumb3_R
Bone_War_Fing_Index1_R
Bone_War_Fing_Index2_R
Bone_War_Fing_Index3_R
Bone_War_Weapon_Sword
Mesh_Sword_Chaoseater
Bone_War_UpperArmRoll_R
Bone_War_R_ShoulderPad
Bone_War_ShoulderCloth_C_1
Bone_War_ShoulderCloth_C_2
Bone_War_ShoulderCloth_C_3
Bone_War_ShoulderCloth_B_1
Bone_War_ShoulderCloth_B_2
Bone_War_ShoulderCloth_A_1
Bone_War_ShoulderCloth_A_2
Bone_War_Hair_Base_R
Bone_War_Hair_1_R
Bone_War_Hair_2_R
Bone_War_Hair_B_4_R
Bone_War_Hair_C_4_R
Bone_War_Hair_A_4_R
Bone_War_Hair_Base_L
Bone_War_Hair_1_L
Bone_War_Hair_2_L
Bone_War_Hair_C_4_L
Bone_War_Hair_A_4_L
Bone_War_Hair_B_4_L
Bone_War_ShoulderCloth_D_1
Bone_War_ShoulderCloth_D_2
Bone_War_ShoulderCloth_D_3
Bone_War_ShoulderCloth_D_4
Bone_War_ShoulderCloth_E_1
Bone_War_ShoulderCloth_E_2
Bone_War_ShoulderCloth_E_3
Bone_War_Cape_Cloth_1_R
Bone_War_Cape_Cloth_2_R
Bone_War_Cape_Cloth_3_R
Bone_War_Cape_Cloth_4_R
Bone_War_Cape_Cloth_1_M
Bone_War_Cape_Cloth_2_M
Bone_War_Cape_Cloth_3_M
Bone_War_Cape_Cloth_4_M
Bone_War_Cape_Cloth_5_M
Bone_War_Cape_Cloth_6_M
Bone_War_Cape_Cloth_1_L
Bone_War_Cape_Cloth_2_L
Bone_War_Cape_Cloth_3_L
Bone_War_Cape_Cloth_4_L
_rig_WaistCloth_cons_L
Bone_War_WaistCloth_L
Bone_War_WaistCloth_R

[RemoveTracks]
War_Atk_Synergy.17=all
